.container {
    background-color: #2a2929;
    gap: 30%;
    padding: 2%;
    display: flex;
}

.img {
    margin-top: 2%;
}

.titulo {
    color: #fff;
}

.container2 {
    border-left: 2px solid green;
    padding: 2%;
}

.container3 {
    margin-top: 60%;
}